*		{margin:0;	padding:0;}
header	{background:#007;	height:200px;}
nav		{background:#070;}
main		{clear:both;}
article	{background:#077;margin-left:200px;	min-height:300px;}
aside	{background:#700;width:200px;min-height:300px;float:left;}
footer	{background:#770;}
.clear	{clear:both;
}
/*делаем элмент - блочным, убираем лишние отступы, убираем точки-маркеры*/
ul { display: block;   margin: 0;   padding: 0;   list-style: none;}
/*зачищаем края. Без этого блока работать будет, но лучше - с ним*/
ul:after {   display: block;   content: ' ';   clear: both;   float: none;}
/*делаем меню из элементов - они теперь, прижаты. А также - позиционированы. Чтобы Выпаающее меню - позиционировалось от них.
*/
ul.menu > li {   float: left; /*изменив на right - прижмем к правому краю и перетосуем*/
    position: relative; /*Если убрать это свойство - блоки будут позиционироваться по левому верхнему краю*/
}

ul.menu > li > a {
    display: block; /*Если не сделать, то событие "Ховер" - будет "соскальзывать"*/
    padding: 10px; /*"красивые отступы от края элемента margin"*/
    color: white; /*Цвет текста*/
    background-color: red; /*фон текста*/
    text-decoration: none; /*убираем по умолчнию подчеркивание ссылки*/
}
ul.menu > li > a:hover {
    background-color: black;/* изменение оформления наведенного поля на "черный"*/
}
/*Задания:
1. Поменять цвет меню.
2. Поменять подчеркивание ссылки - сделать "зачеркивание"
3. Заменить цвет, фона верхнего меню при наведении на синий.
4. Сделать изменение фона при наведение на пункты меню (выпадающих элементов).
5*. "Перетосовать" элементы меню только в CSS
*/
